* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 200ms all ease;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	gap: 1rem;
	background-color: #2a2a2a;
}

.App video {
	border: 1px solid #fafafa;
	border-radius: 1rem;
}

.App button {
	outline: 0;
	border: none;
	background-color: #fafafa;
	padding: 1.5rem 6rem;
	border-radius: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.App button:hover {
	background-color: #2a2a2a;
	color: #fafafa;
	border: 1px solid #fafafa;
	transform: scale(1.2);
}
